/* Tablet dai 768px in giu */

@media screen and (max-width: 768px){
    .container{
        width: 768px;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1rem;
    }
    .text{
        font-size: 14px;
    }
}


/* Mobile dai 576px in giu */

@media screen and (max-width: 576px){
  
    .row{
        flex-direction: column;
    }
 
}